<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-NSString类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-字符串的获取.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-字符串的判断.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-基本数据类型转换成字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-字符串重组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-字符串写入文件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0872F5E818DA76E1009CBFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0872F5FD18DA7D14009CBFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0872F60D18DA875F009CBFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0872F62018DA9393009CBFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0872F63018DA97FD009CBFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0872F64018DABBF9009CBFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
