<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-面向对象特性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-self和类方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-self和对象方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-self注意.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-继承.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-点语法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-成员变量作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-类的本质.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1822A38F18CAFF85006B6CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822A3AE18CB0BBD006B6CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822A3C118CB0F33006B6CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822A3D718CB1267006B6CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1843F8E218CABC1D00DFC51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189EC5F618CAA39600E20F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189EC60B18CAA6E600E20F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189EC61E18CAAAAB00E20F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189EC63118CAB84500E20F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DE3D9418CAFBF10020652D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
