<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-类方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-类方法应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-匿名类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-封装练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-组合模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181CF33F18C8007E001A037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181CF35718C80A14001A037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181CF36A18C81179001A037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181CF38318C8173E001A037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181CF39618C826CF001A037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181CF3A918C84987001A037A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
