<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-特有语法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-synthesize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-property增强.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-get/set方法重写.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-OC私有方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-id类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-构造方法基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-构造方法应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-自定义构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>10-继承中自定义构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>11-new方法原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>12-类的互引用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18ADF9E818CBF4E9009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA0018CBFA35009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA1318CC0223009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA2618CC057E009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA3C18CC07F5009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA4F18CC091D009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA6218CC0EB4009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA7518CC1469009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18ADFA8E18CC3D87009F8DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E35F0118CC439A00914274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E35F1718CC4EE100914274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E35F2D18CC54B700914274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
