<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-手动内存管理基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-单个对象的内存管理分析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-多个对象的内存管理分析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-set方法的内存管理分析.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-@property参数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-手动内存管理类相互引用问题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0899F78D18D6961B00505E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0899F7A518D69E6C00505E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0899F7B818D6C9DF00505E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0899F7CE18D6D03F00505E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0899F7E418D6DC7500505E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0899F7FA18D6E7B000505E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
