<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-第一个OC程序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-第一个OC类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-第二个OC类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-函数和类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-类注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18344D9118C5656800081585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18344DAC18C57B3100081585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18344DBC18C5B89D00081585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18344DCC18C5C33400081585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18344DDC18C5C76300081585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18344DEC18C5CA1B00081585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
